<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>

	<key>TSKConfiguration</key>
	<dict>
		<key>TSKSwizzleNetworkDelegates</key>
		<true/>
		<key>TSKPinnedDomains</key>
		<dict>
			<key>approovr.io</key>
			<dict>
				<key>TSKReportUris</key>
				<array>
					<string>https://www.test-report.com</string>
				</array>
				<key>TSKEnforcePinning</key>
				<true/>
				<key>TSKIncludeSubdomains</key>
				<true/>
				<key>TSKPublicKeyAlgorithms</key>
					<array>
						<string>TSKAlgorithmRsa2048</string>
					</array>
				<key>TSKPublicKeyHashes</key>
				<array>
					<string>oq+Uj+2TYMg13txh1pXW0/VLAkonU3TnoPr5hfxPZVc=</string>
					<string>8Rw90Ej3Ttt8RRkrg+WYDS9n7IS03bk5bjP/UXPtaY8=</string>
					<string>0000000000000000000000000000000000000000000=</string>
					<string>1111111111111111111111111111111111111111111=</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
